@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  title {
    display: block;
    font-size: 3rem;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
  }

  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden; 
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }

  main{
    margin: 40px 40px 0px 40px;
  }

  input{
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    padding: 6px;
}

.save-info , .logout{
    width: 150px;
    height: 35px;
    background: black;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 5px;
    margin-top: 20px;
}